<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>One Column Responsive Layout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="One Column Responsive Layout">
<meta name="robots" content="index,follow" />
<meta name="keywords" content="list, lists, media, html, css, html5, css3, inline, drop down, menu, navbar, responsive, responsive web" />
<!-- ===== CSS START ==== -->
<link href="../_assets/css/decorator.css" rel="stylesheet">
<link href="../_assets/css/icons-ttf.css" rel="stylesheet">
<link href="css/theme.css" rel="stylesheet">
<!-- ===== CSS END ==== -->
</head>
<body class="fluid">
    <!-- Header / Menu Start -->
    
    <div class="fixed-header">
        
        <div class="width">
            
            <!-- Top horizontal navbar start -->

            <div class="navbar top-bar">

                <a href="#" class="brand">Brand</a>

                <ul class="left">
                    <li class="divider"></li>
                    <li><a href="#">Left 1</a></li>
                    <li class="divider"></li>
                    <li><a class="active" href="#">Left 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Left 3</a></li>
                    <li class="divider"></li>
                </ul>

                <!-- search form 1 start -->
                <form class="search-form">
                    <input type="text" class="input-left" placeholder="Search anything..">
                    <button type="submit" class="button button-right">Search</button>
                </form>
                <!-- search form 1 end -->

                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="#">Right 1</a></li>
                </ul>

            </div>

            <!-- Top horizontal navbar end -->
            
        </div>
        
    </div>
    
    <!-- Header / Menu End -->
    
    <!-- Wrapper Start -->
    <div class="wrapper width clearfix">
        
        <!-- Intro Start -->
        <div class="intro">

            <h1>Decorator One Column Layout</h1>
            <p class="desc">
                Decorator is an easy to implement and use front-end framework 
                for creating web and mobile applications. Decoretor is based on 
                HTML, CSS and Javascript. It comes with lot's of ready to use 
                pre-built interface components and templates
            </p>
            <p class="action">
                <a href="#" class="btn blue">Action Button</a>
            </p>

        </div>
        <!-- Intro End -->
        
        <!-- Grid Start -->
        
        <div class="row padder"> <!-- First Row Start -->
            
            <!-- Grid Start -->
            <ul class="media-grid-wide grid3">
                
                <!-- List node 1 start -->
                <li>
                    <a href=""><img src="../_assets/media/portfolio/1.jpg" alt=""></a>
                    <div class="grid-data">
                        <p><a class="grid-title" href="#">What is Lorem Ipsum?</a></p>
                        <p class="grid-info">1 day ago - In: <a href="#">Frameworks</a></p>
                        <p class="desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
                        </p>
                    </div>
                </li>
                <!-- List node 1 end -->	


                <!-- List node 2 start -->
                <li>
                    <a href=""><img src="../_assets/media/portfolio/2.jpg" alt=""></a>
                    <div class="grid-data">
                        <p><a class="grid-title" href="#">What is Lorem Ipsum?</a></p>
                        <p class="grid-info">1 day ago - In: <a href="#">Frameworks</a></p>
                        <p class="desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
                        </p>
                    </div>
                </li>
                <!-- List node 2 end -->	


                <!-- List node 3 start -->
                <li>
                    <a href=""><img src="../_assets/media/portfolio/3.jpg" alt=""></a>
                    <div class="grid-data">
                        <p><a class="grid-title" href="#">What is Lorem Ipsum?</a></p>
                        <p class="grid-info">2 days ago - In: <a href="#">Frameworks</a></p>
                        <p class="desc">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
                        </p>
                    </div>
                </li>
                <!-- List node 3 end -->
                
            </ul>
            <!-- Grid End -->
            
            
        </div><!-- First Row End -->
        
        <div class="row padder"><!-- Second Row Start -->
        
        <div class="promo promo-left">
            <div class="left blue">
                <div class="padder">
                    <h1 class="title">Decorator Front-End Framework</h1>
                    <p class="meta">Posted: 1 day ago - In: <a href="#">Web</a></p>
                </div>
            </div>
            <div class="right">
                <div class="padder">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                        It has survived not only five centuries, but also the leap into electronic typesetting, 
                        remaining essentially unchanged. It was popularised in the 1960s with the release 
                        of Letraset sheets containing Lorem Ipsum ...
                    </p>
                    <p class="read-more"><a href="#">Read More</a></p>
                </div>
            </div>
        </div>
        
    </div><!-- Second Row End -->
        
    <div class="footer padder"> <!-- Footer Start -->

        <!-- Inline list start -->

        <ul class="list list-inline">

            <li class="first"><a href="#" title="front-end framework">Home</a></li>
            <li><a href="http://www.uloga.net" title="web design" target="_blank">About</a></li>
            <li><a href="http://decorator.codable.org" title="web development" target="_blank">Decorator</a></li>
            <li><a href="http://www.uloga.net" title="need a website?" target="_blank">Services</a></li>
            <li><a href="http://www.uloga.net" title="uloga" target="_blank">Contact</a></li>

        </ul>

        <!-- Inline list end -->

    </div> <!-- Footer End -->
        
    </div>
    <!-- Wrapper End -->

<!-- ==================
    JAVASCRIPT START 
======================= -->
<script src="../_assets/js/jquery.js"></script>
<script src="../_assets/js/decorator/dc.menu.js"></script>
<!-- ==================
     JAVASCRIPT END
======================= -->

<script type="text/javascript">
    
   $(document).ready(function(){
        $('.navbar').dcMenu();
   });


</script>
</body>
</html>