<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Two Column Responsive Layout</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Two Column Responsive Layout">
<meta name="robots" content="index,follow" />
<meta name="keywords" content="responsive, responsive design, list, lists, media, html, css, html5, css3, inline, drop down, menu, navbar" />
<!-- ===== CSS START ==== -->
<link href="../_assets/css/decorator.css" rel="stylesheet">
<link href="../_assets/css/icons-ttf.css" rel="stylesheet">
<link href="css/theme.css" rel="stylesheet">
<!-- ===== CSS END ==== -->
</head>
<body class="fluid">
    
    <!-- Header / Menu Start -->
    
    <div class="fixed-header">
        <div class="width">
            <!-- Top horizontal navbar start -->

            <div class="navbar top-bar">

                <a href="#" class="brand">Brand</a>

                <ul class="left">
                    <li class="divider"></li>
                    <li><a href="#">Left 1</a></li>
                    <li class="divider"></li>
                    <li><a class="active" href="#">Left 2</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Left 3</a></li>
                    <li class="divider"></li>
                </ul>

                <!-- search form 1 start -->
                <form class="search-form">
                    <input type="text" class="input-left" placeholder="Search anything..">
                    <button type="submit" class="button button-right">Search</button>
                </form>
                <!-- search form 1 end -->

                <ul class="right">
                    <li class="divider"></li>
                    <li><a href="#">Right 1</a></li>
                </ul>

            </div>

            <!-- Top horizontal navbar end -->
        </div>
    </div>
    
    <!-- Header / Menu End -->
    
    <!-- Wrapper Start -->
    <div class="wrapper clearfix">
        
        <!-- Intro Start -->
        <div class="intro">
            
            <div class="width">
                <h1>Decorator Two Column Layout</h1>
                <p class="desc">
                    Decorator is an easy to implement and use front-end framework 
                    for creating web and mobile applications. Decoretor is based on 
                    HTML, CSS and Javascript. It comes with lot's of ready to use 
                    pre-built interface components and templates
                </p>
                <p class="action">
                    <a href="#" class="btn blue">Action Button</a>
                </p>
            </div>
            
        </div>
        <!-- Intro End -->
        
    <div class="inner width"><!-- Content Inner Start -->
        
        <!-- First Row Start -->
        <div class="row padder">
            <div class="block8">
                
                <ul class="media-grid grid4"><!-- Media Grid 1 Start -->
                    
                    <!-- List node Start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/1.jpg"></a>
                        <p><a class="grid-title" href="#">Guardians of the Galaxy</a></p>
                    </li>
                    <!-- List node 1 end -->	


                    <!-- List node 2 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/2.jpg"></a>
                        <p><a class="grid-title" href="#">Teenage Mutant Ninja Turtles</a></p>
                    </li>
                    <!-- List node 2 end -->	

                    <!-- List node 3 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/4.jpg"></a>
                        <p><a class="grid-title" href="#">Avengers: Age of Ultron</a></p>
                    </li>
                    <!-- List node 3 end -->

                    <!-- List node 4 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/5.jpg"></a>
                        <p><a class="grid-title" href="#">Planet of the Apes</a></p>
                    </li>
                    <!-- List node 4 end -->
                    
                </ul><!-- Media Grid End -->
                
            </div>
            <div class="block4">
                
                <div class="trailer-promo"><!-- Trailer Promo Start -->
                    <a href="#" class="trailer-thumb">
                       <img src="../_assets/media/yt1.jpg" alt=""> 
                    </a>
                    <div class="trailer-content">
                        <a href="#" class="trailer-title">Captain America: The Winter Soldier </a>
                        <p class="trailer-info">
                            Steve Rogers struggles to embrace his role in the modern world and battles...
                        </p>
                    </div>
                </div><!-- Trailer Promo End -->
                
            </div>
        </div>
        <!-- First Row End -->
        
        
        <!-- Second Row Start -->
        <div class="row padder">
            <div class="block8">
                
                <ul class="media-grid grid4"><!-- Media Grid 1 Start -->
                    
                    <!-- List node Start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/1.jpg"></a>
                        <p><a class="grid-title" href="#">Guardians of the Galaxy</a></p>
                    </li>
                    <!-- List node 1 end -->	


                    <!-- List node 2 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/2.jpg"></a>
                        <p><a class="grid-title" href="#">Teenage Mutant Ninja Turtles</a></p>
                    </li>
                    <!-- List node 2 end -->	

                    <!-- List node 3 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/4.jpg"></a>
                        <p><a class="grid-title" href="#">Avengers: Age of Ultron</a></p>
                    </li>
                    <!-- List node 3 end -->

                    <!-- List node 4 start -->
                    <li>
                        <a class="link" href=""><img src="../_assets/media/grid/5.jpg"></a>
                        <p><a class="grid-title" href="#">Planet of the Apes</a></p>
                    </li>
                    <!-- List node 4 end -->
                    
                </ul><!-- Media Grid End -->
                
            </div>
            <div class="block4">
                
                <div class="trailer-promo"><!-- Trailer Promo Start -->
                    <a href="#" class="trailer-thumb">
                       <img src="../_assets/media/yt2.jpg" alt=""> 
                    </a>
                    <div class="trailer-content">
                        <a href="#" class="trailer-title">Hercules </a>
                        <p class="trailer-info">
                            Having endured his legendary twelve labors, Hercules, the Greek demigod...
                        </p>
                    </div>
                </div><!-- Trailer Promo End -->
                
            </div>
        </div>
        <!-- Second Row End -->
        
        <div class="footer padder"> <!-- Footer Start -->

            <!-- Inline list start -->

            <ul class="list list-inline">

                <li class="first"><a href="#" title="front-end framework">Home</a></li>
                <li><a href="http://www.uloga.net" title="web design" target="_blank">About</a></li>
                <li><a href="http://decorator.codable.org" title="web development" target="_blank">Decorator</a></li>
                <li><a href="http://www.uloga.net" title="need a website?" target="_blank">Services</a></li>
                <li><a href="http://www.uloga.net" title="uloga" target="_blank">Contact</a></li>

            </ul>

            <!-- Inline list end -->

        </div> <!-- Footer End -->
    
    </div><!-- Content Inner End -->   
       
    </div>
    <!-- Wrapper End -->

<!-- ==================
    JAVASCRIPT START 
======================= -->
<script src="../_assets/js/jquery.js"></script>
<script src="../_assets/js/decorator/dc.menu.js"></script>
<!-- ==================
     JAVASCRIPT END
======================= -->

<script type="text/javascript">
    
   $(document).ready(function(){
        $('.navbar').dcMenu();
        // ie 8 grid fix
        $('.grid4 li:nth-child(4n+0)').css({"margin-right": "0"});
   });


</script>
</body>
</html>
